.jumbotron {
	background-color: #546e7a;
	color: #FFF;
}

.container {
	max-width: 1100px;
}

.tab-pane {
	padding:50px 0 50px 0;
}

#code-result {
	height: 200px;
}

.tr  {
	/*border-bottom: 1px solid #CCC;*/
	/*padding: 15px 0 15px 0;*/
}

.btn-delete-region {
	cursor: pointer;
}